@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <div id="menucontainer">
        <ul id="menu">
            <li>@Html.ActionLink("Send Message To Site", "SendMessageToSiteA", "Home")</li>
        </ul>
    </div>
</p>
