<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <AuditConfig QueueName="audit" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="DocumentServicesSaga.Messages" Namespace="DocumentServicesSaga.Messages.Commands" Endpoint="DocumentServices.Saga" />
      <add Assembly="DocumentServicesSaga.Messages" Namespace="DocumentServicesSaga.Messages.Events" Endpoint="DocumentServices.Saga" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
 <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="NServiceBus/Persistence" connectionString="Server=(local);Database=nservicebus;Trusted_Connection=True;"/>
    <add name="NServiceBus/Persistence/NHibernate/Saga" connectionString="Server=(local);Database=nservicebus;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>