<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ServiceControl/TransportType" value="NServiceBus.Config.AzureQueueConfig, NServiceBus.Azure.Transports.WindowsAzureStorageQueues" />
    </appSettings>
    <connectionStrings>
        <add name="NServiceBus/Transport" connectionString="UseDevelopmentStorage=true" />
    </connectionStrings>
 
</configuration>