<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>

  <MsmqTransportConfig
    NumberOfWorkerThreads="1"
    MaxRetries="2"/>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="plexis.sample.error.temp" />

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Plexis.Sample.Messages.Countdown, Plexis.Sample.Messages" Endpoint="Plexis.Sample.Service.Input"/>
     </MessageEndpointMappings>
  </UnicastBusConfig>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <urlMappings enabled="true">
      <clear/>
      <add url="~/CountdownRequest" mappedUrl="~/CountdownRequest.asmx"/>
     </urlMappings>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
