<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings configSource="App_Data\Configuration\connectionStrings.config" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="CentralSystem.FlowManager.Messaging" Endpoint="FlowManagerPOC" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>