<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <!--<section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />-->
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <add key="NServiceBus/MaximumConcurrencyLevel" value="10"/>
    <!-- Endpoint SLA Threshold time interval -->
    <add key="NServiceBus/SLAThreshold" value="00:00:02" />
    <!-- Outbox configuration -->
    <add key="NServiceBus/Outbox" value="true" />
    <add key="NServiceBus/Outbox/NHibernate/TimeToKeepDeduplicationData" value="00:10:00" />
    <add key="NServiceBus/Outbox/NHibernate/FrequencyToRunDeduplicationDataCleanup" value="00:01:00" />
  </appSettings>
  <connectionStrings configSource="App_Data\Configuration\connectionStrings.config" />
  <!-- The configuration setting can be override by app setting named NServiceBus/MaximumConcurrencyLevel -->
  <TransportConfig MaximumConcurrencyLevel="16" MaximumMessageThroughputPerSecond="0" />
  <!--<AuditConfig QueueName="Audit" />-->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="CentralSystem.FlowManager.Messaging" Endpoint="FlowManagerPOC" />
      <add Assembly="CentralSystem.Messaging" Type="CentralSystem.Messaging.FlowManager.FlowActivityResultMessage" Endpoint="FlowManagerPOC" />
      <add Assembly="CentralSystem.Reporting.Messaging" Endpoint="CSReportingPOC" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>