<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9009/services/cancelOrder"
        binding="basicHttpBinding" contract="Messages.ICancelOrderService" />
			<endpoint address="http://localhost:9009/services/cancelOrderTwo"
        binding="basicHttpBinding" contract="Messages.ICancelOrderTwoService" />
		</client>
  </system.serviceModel>
</configuration>