<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <!--<section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />-->
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <!-- Security Active Directory-->
    <add key="NServiceBus/MaximumConcurrencyLevel" value="10" />
    <!--Version Number-->
    <add key="Version" value="2016.4.2.17" />
  </appSettings>
  <connectionStrings configSource="App_Data\Configuration\connectionStrings.config" />
  <TransportConfig MaximumConcurrencyLevel="1" MaximumMessageThroughputPerSecond="0" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="CentralSystem.Messaging" Type="CentralSystem.Messaging.FlowManager.FlowActivityResultMessage" Endpoint="FlowManagerPOC" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!--<AuditConfig QueueName="Audit" />-->
  <SecondLevelRetriesConfig Enabled="false" />
</configuration>